* {
  margin: 0;
  padding: 0;
}

.bg-color {
  background-color: #3E3C3C;
}

.space-1 {
  height: 870px;
  background-color: #1c1a19;
  background-image: url(./images/hero-image.png);
  background-repeat: no-repeat;
  background-position-x: 109%;
  background-position-y: center;
}

.size {
  width: 20px;
}

.mt-n1 {
  margin-top: 40%;
}

.color {
  color: #F55800;
}

.recent-works {
  width: 794px;
}

.recent {
  color: #091E42;
}